[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[include]
    path = .gitconfig.local
