[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input
    pager = less -FMRiX

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "diff"]
    whitespace = red reverse

[push]
    default = simple

[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

[include]
    path = .gitconfig.local
[pull]
    rebase = false
