[user]
    name = Ivan Giacomelli
    email = ivan@nopsled.it
    # signingkey = DCC7E11CDE5ACD106145498B4A7EA765E0FEAD0A

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input
